<form
  class="flex flex-col p-5"
  [formGroup]="authForm"
  (ngSubmit)="onFormSubmit()"
>
  <h1 class="text-4xl mb-5">
    {{ isSignIn ? "Sign in" : "Create new user" }}
  </h1>

  <label for="username" class="">Username</label>
  <input
    id="username"
    type="text"
    name="username"
    class="border border-1 border-black mb-3 py-1 px-2"
    required
    formControlName="username"
  />
  <!-- <p
    *ngIf="!authForm.get('username').valid && authForm.get('username').touched"
    class="text-red-500 mb-3"
  >
    Please enter all necessary data!
  </p> -->

  <label for="password">Password</label>
  <input
    id="password"
    type="password"
    name="password"
    class="border border-1 border-black mb-3 py-1 px-2"
    required
    formControlName="password"
  />

  <!-- <p
    *ngIf="!authForm.get('password').valid && authForm.get('password').touched"
    class="text-red-500 mb-3"
  >
    Please enter all necessary data!
  </p> -->

  <div class="self-end space-x-3">
    <button
      (click)="toggleForm()"
      type="button"
      class="border border-1 border-black py-1 px-2 hover:bg-green-500 hover:text-white hover:border-green-500 transition-colors"
    >
      {{ isSignIn ? "Create new user" : "Sign in" }}
    </button>
    <button
      type="submit"
      class="border border-1 border-black py-1 px-2 hover:bg-sky-500 hover:text-white hover:border-sky-500 transition-colors"
    >
      Save
    </button>
  </div>
</form>
